body {
    background: rgb(228, 224, 224);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    margin-bottom: 15px;
  }
  
  #search {
    border: 0px;
    width: 200px;
    padding: 10px;
    border-radius: 7px;
  }
  
  #main {
    width: 90%;
    height: 40%;
    max-width: 900px;
  }
  
  .card {
    background: rgb(102, 98, 97);
    width: 100%;
    height: 100%;
    max-width: 900px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
  }
  
  #avtar {
    align-self: center;
    width: 50%;
  }
  
  img {
    border: 4px solid white;
    width: 200px;
    margin: 30%;
    border-radius: 50%;
  }
  
  #details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
    color: rgb(201, 195, 195);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  #span-elem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
  }
  
  #name {
    font-weight: 700;
  }
  
  #bio {
    margin: 7px 0 19px 0;
    font-size: 20px;
  }
  
  span {
    margin-top: 2%;
    margin-right: 3%;
  }
  
  @media (max-width: 900px) {
    .card {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  
    #avtar {
      height: 300px;
    }
  
    img {
      margin: 20% 20% 0% 20%;
    }
  
    #details {
      padding: 0;
      padding: 0 20px 20px 20px;
      align-items: center;
    }
  }
  